In [1]:
import pandas as pd
import numpy as np

In [2]:
schoolfile = ("Resources/schools_complete.csv")
studentfile = ("Resources/students_complete.csv")

In [3]:
school_df = pd.read_csv(schoolfile)
school_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
student_df = pd.read_csv(studentfile)
student_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#District Summary

Total_schools =school_df['name'].count()
Total_schools

15

In [6]:
Total_students = student_df['name'].count()
Total_students

39170

In [7]:
Total_budget = school_df['budget'].sum()
Total_budget

24649428

In [8]:
avg_math = student_df['math_score'].mean()
avg_math

78.98537145774827

In [9]:
avg_read = student_df['reading_score'].mean()
avg_read

81.87784018381414

In [10]:
# % Passing Math, Assume 70 is passing

passmath= student_df['math_score']>=70
pass_math_count = passmath.value_counts(True)
pass_math_count[True]
pct_math_count = str(pass_math_count[True]*100)+"%"
pct_math_count

'74.9808526933878%'

In [11]:
# % Passing Reading, Assume 70 is passing

passread=student_df['reading_score']>=70
pass_read_count = passread.value_counts(True)
pass_read_count[True]
pct_read_count = str(pass_read_count[True]*100)+"%"
pct_read_count

'85.80546336482001%'

In [12]:
overall_pass = (pass_math_count+pass_read_count)/2
overall_pass[True]
pct_overall_pass = str(overall_pass[True]*100)+"%"
pct_overall_pass

'80.3931580291039%'

In [13]:
#District Summary 

column_name =["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading School","% Passing Math","% Passing Reading","%Overall Passing Rate"]
columns = [Total_schools,Total_students,Total_budget,avg_math,avg_read,pct_math_count,pct_read_count,pct_overall_pass]

district = pd.DataFrame(columns,column_name).T
district

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading School,% Passing Math,% Passing Reading,%Overall Passing Rate
0,15,39170,24649428,78.9854,81.8778,74.9808526933878%,85.80546336482001%,80.3931580291039%

In [14]:
#School Summary

school_summary = school_df[["name","type","size","budget"]]
school_summary

                     name      type  size   budget
0       Huang High School  District  2917  1910635
1    Figueroa High School  District  2949  1884411
2     Shelton High School   Charter  1761  1056600
3   Hernandez High School  District  4635  3022020
4     Griffin High School   Charter  1468   917500
5      Wilson High School   Charter  2283  1319574
6     Cabrera High School   Charter  1858  1081356
7      Bailey High School  District  4976  3124928
8      Holden High School   Charter   427   248087
9        Pena High School   Charter   962   585858
10     Wright High School   Charter  1800  1049400
11  Rodriguez High School  District  3999  2547363
12    Johnson High School  District  4761  3094650
13       Ford High School  District  2739  1763916
14     Thomas High School   Charter  1635  1043130

In [15]:
school_summary.columns=["name","School Type","Total Students","Total School Budget"]
school_summary

                     name School Type  Total Students  Total School Budget
0       Huang High School    District            2917              1910635
1    Figueroa High School    District            2949              1884411
2     Shelton High School     Charter            1761              1056600
3   Hernandez High School    District            4635              3022020
4     Griffin High School     Charter            1468               917500
5      Wilson High School     Charter            2283              1319574
6     Cabrera High School     Charter            1858              1081356
7      Bailey High School    District            4976              3124928
8      Holden High School     Charter             427               248087
9        Pena High School     Charter             962               585858
10     Wright High School     Charter            1800              1049400
11  Rodriguez High School    District            3999              2547363
12    Johnson High School    District            4761              3094650
13       Ford High School    District            2739              1763916
14     Thomas High School     Charter            1635              1043130

In [16]:
#Budget per Student

school_summary["Per Student Budget"] = school_summary["Total School Budget"]/school_summary["Total Students"]
school_summary

,name,School Type,Total Students,Total School Budget,Per Student Budget
0,Huang High School,District,2917,1910635,655.0
1,Figueroa High School,District,2949,1884411,639.0
2,Shelton High School,Charter,1761,1056600,600.0
3,Hernandez High School,District,4635,3022020,652.0
4,Griffin High School,Charter,1468,917500,625.0
5,Wilson High School,Charter,2283,1319574,578.0
6,Cabrera High School,Charter,1858,1081356,582.0
7,Bailey High School,District,4976,3124928,628.0
8,Holden High School,Charter,427,248087,581.0
9,Pena High School,Charter,962,585858,609.0
10,Wright High School,Charter,1800,1049400,583.0
11,Rodriguez High School,District,3999,2547363,637.0
12,Johnson High School,District,4761,3094650,650.0
13,Ford High School,District,2739,1763916,644.0
14,Thomas High School,Charter,1635,1043130,638.0

In [17]:
school_summary_clean = school_summary.set_index('name')
school_summary_clean

,School Type,Total Students,Total School Budget,Per Student Budget
name,,,,
Huang High School,District,2917,1910635,655.0
Figueroa High School,District,2949,1884411,639.0
Shelton High School,Charter,1761,1056600,600.0
Hernandez High School,District,4635,3022020,652.0
Griffin High School,Charter,1468,917500,625.0
Wilson High School,Charter,2283,1319574,578.0
Cabrera High School,Charter,1858,1081356,582.0
Bailey High School,District,4976,3124928,628.0
Holden High School,Charter,427,248087,581.0
Pena High School,Charter,962,585858,609.0
Wright High School,Charter,1800,1049400,583.0
Rodriguez High School,District,3999,2547363,637.0
Johnson High School,District,4761,3094650,650.0
Ford High School,District,2739,1763916,644.0
Thomas High School,Charter,1635,1043130,638.0

In [18]:
#group school

group_school = student_df.groupby('school')
scores_per_school = group_school.sum()
scores_per_school

                       Student ID  reading_score  math_score
school
Bailey High School      101303896         403225      383393
Cabrera High School      31477307         156027      154329
Figueroa High School     12949059         239335      226223
Ford High School         99055935         221164      211184
Griffin High School      19077394         123043      122360
Hernandez High School    46090440         375131      358238
Holden High School        9846620          35789       35784
Huang High School         4252986         236810      223528
Johnson High School     154327815         385481      366942
Pena High School         22851829          80851       80654
Rodriguez High School   112111965         322898      307294
Shelton High School      11879706         147441      146796
Thomas High School       62705520         137093      136389
Wilson High School       33950493         191748      190115
Wright High School       45243900         151119      150628

In [19]:
school_summary_x = pd.merge(school_summary_clean,scores_per_school, how='outer', left_index=True, right_index=True)
school_summary_x

,School Type,Total Students,Total School Budget,Per Student Budget,Student ID,reading_score,math_score
Bailey High School,District,4976,3124928,628.0,101303896,403225,383393
Cabrera High School,Charter,1858,1081356,582.0,31477307,156027,154329
Figueroa High School,District,2949,1884411,639.0,12949059,239335,226223
Ford High School,District,2739,1763916,644.0,99055935,221164,211184
Griffin High School,Charter,1468,917500,625.0,19077394,123043,122360
Hernandez High School,District,4635,3022020,652.0,46090440,375131,358238
Holden High School,Charter,427,248087,581.0,9846620,35789,35784
Huang High School,District,2917,1910635,655.0,4252986,236810,223528
Johnson High School,District,4761,3094650,650.0,154327815,385481,366942
Pena High School,Charter,962,585858,609.0,22851829,80851,80654
Rodriguez High School,District,3999,2547363,637.0,112111965,322898,307294
Shelton High School,Charter,1761,1056600,600.0,11879706,147441,146796
Thomas High School,Charter,1635,1043130,638.0,62705520,137093,136389
Wilson High School,Charter,2283,1319574,578.0,33950493,191748,190115
Wright High School,Charter,1800,1049400,583.0,45243900,151119,150628

In [20]:
school_summary_x["reading_score"]=school_summary_x["reading_score"]/school_summary_x["Total Students"]
school_summary_x

,School Type,Total Students,Total School Budget,Per Student Budget,Student ID,reading_score,math_score
Bailey High School,District,4976,3124928,628.0,101303896,81.033963,383393
Cabrera High School,Charter,1858,1081356,582.0,31477307,83.975780,154329
Figueroa High School,District,2949,1884411,639.0,12949059,81.158020,226223
Ford High School,District,2739,1763916,644.0,99055935,80.746258,211184
Griffin High School,Charter,1468,917500,625.0,19077394,83.816757,122360
Hernandez High School,District,4635,3022020,652.0,46090440,80.934412,358238
Holden High School,Charter,427,248087,581.0,9846620,83.814988,35784
Huang High School,District,2917,1910635,655.0,4252986,81.182722,223528
Johnson High School,District,4761,3094650,650.0,154327815,80.966394,366942
Pena High School,Charter,962,585858,609.0,22851829,84.044699,80654
Rodriguez High School,District,3999,2547363,637.0,112111965,80.744686,307294
Shelton High School,Charter,1761,1056600,600.0,11879706,83.725724,146796
Thomas High School,Charter,1635,1043130,638.0,62705520,83.848930,136389
Wilson High School,Charter,2283,1319574,578.0,33950493,83.989488,190115
Wright High School,Charter,1800,1049400,583.0,45243900,83.955000,150628

In [21]:
school_summary_x["math_score"]=school_summary_x["math_score"]/school_summary_x["Total Students"]
school_summary_x

,School Type,Total Students,Total School Budget,Per Student Budget,Student ID,reading_score,math_score
Bailey High School,District,4976,3124928,628.0,101303896,81.033963,77.048432
Cabrera High School,Charter,1858,1081356,582.0,31477307,83.975780,83.061895
Figueroa High School,District,2949,1884411,639.0,12949059,81.158020,76.711767
Ford High School,District,2739,1763916,644.0,99055935,80.746258,77.102592
Griffin High School,Charter,1468,917500,625.0,19077394,83.816757,83.351499
Hernandez High School,District,4635,3022020,652.0,46090440,80.934412,77.289752
Holden High School,Charter,427,248087,581.0,9846620,83.814988,83.803279
Huang High School,District,2917,1910635,655.0,4252986,81.182722,76.629414
Johnson High School,District,4761,3094650,650.0,154327815,80.966394,77.072464
Pena High School,Charter,962,585858,609.0,22851829,84.044699,83.839917
Rodriguez High School,District,3999,2547363,637.0,112111965,80.744686,76.842711
Shelton High School,Charter,1761,1056600,600.0,11879706,83.725724,83.359455
Thomas High School,Charter,1635,1043130,638.0,62705520,83.848930,83.418349
Wilson High School,Charter,2283,1319574,578.0,33950493,83.989488,83.274201
Wright High School,Charter,1800,1049400,583.0,45243900,83.955000,83.682222

In [22]:
school_summary_x = school_summary_x.drop('Student ID', axis=1)
school_summary_x

,School Type,Total Students,Total School Budget,Per Student Budget,reading_score,math_score
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767
Ford High School,District,2739,1763916,644.0,80.746258,77.102592
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752
Holden High School,Charter,427,248087,581.0,83.814988,83.803279
Huang High School,District,2917,1910635,655.0,81.182722,76.629414
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464
Pena High School,Charter,962,585858,609.0,84.044699,83.839917
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222

In [23]:
school_summary_x.columns=["School Type","Total Students","Total Budget","Per Student Budget","Average Reading Score","Average Math Score"]
school_summary_x

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767
Ford High School,District,2739,1763916,644.0,80.746258,77.102592
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752
Holden High School,Charter,427,248087,581.0,83.814988,83.803279
Huang High School,District,2917,1910635,655.0,81.182722,76.629414
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464
Pena High School,Charter,962,585858,609.0,84.044699,83.839917
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222

In [24]:
pass_read_df = student_df.loc[(student_df["reading_score"] >= 70.0)]
pass_read_df

,Student ID,name,gender,grade,school,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,23,Christopher Parker,M,9th,Huang High School,81,68
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,25,Cesar Morris,M,9th,Huang High School,92,70
27,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,28,Kelly James,F,11th,Huang High School,73,55
29,29,Nicole Brown,F,12th,Huang High School,90,88
30,30,Bobby Harris,M,9th,Huang High School,94,99
31,31,Brian Fernandez,M,10th,Huang High School,97,65
32,32,Candace Phelps,F,11th,Huang High School,93,90
33,33,Amy Gonzalez,F,12th,Huang High School,95,68
35,35,Benjamin Carlson,M,10th,Huang High School,99,61
...,...,...,...,...,...,...,...
39139,39139,Catherine Lee,F,9th,Thomas High School,83,81
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,39155,John Brooks,M,10th,Thomas High School,92,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [25]:
group_read_pass = pass_read_df.groupby('school')
count_pass_read = group_read_pass.count()
count_pass_read

,Student ID,name,gender,grade,reading_score,math_score
school,,,,,,
Bailey High School,4077,4077,4077,4077,4077,4077
Cabrera High School,1803,1803,1803,1803,1803,1803
Figueroa High School,2381,2381,2381,2381,2381,2381
Ford High School,2172,2172,2172,2172,2172,2172
Griffin High School,1426,1426,1426,1426,1426,1426
Hernandez High School,3748,3748,3748,3748,3748,3748
Holden High School,411,411,411,411,411,411
Huang High School,2372,2372,2372,2372,2372,2372
Johnson High School,3867,3867,3867,3867,3867,3867
Pena High School,923,923,923,923,923,923
Rodriguez High School,3208,3208,3208,3208,3208,3208
Shelton High School,1688,1688,1688,1688,1688,1688
Thomas High School,1591,1591,1591,1591,1591,1591
Wilson High School,2204,2204,2204,2204,2204,2204
Wright High School,1739,1739,1739,1739,1739,1739

In [26]:
school_summary_x = school_summary_x.merge(count_pass_read, left_index=True, right_index=True)
school_summary_x

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score,Student ID,name,gender,grade,reading_score,math_score
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,4077,4077,4077,4077,4077,4077
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,1803,1803,1803,1803,1803,1803
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,2381,2381,2381,2381,2381,2381
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,2172,2172,2172,2172,2172,2172
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,1426,1426,1426,1426,1426,1426
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,3748,3748,3748,3748,3748,3748
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,411,411,411,411,411,411
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,2372,2372,2372,2372,2372,2372
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,3867,3867,3867,3867,3867,3867
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,923,923,923,923,923,923
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,3208,3208,3208,3208,3208,3208
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,1688,1688,1688,1688,1688,1688
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,1591,1591,1591,1591,1591,1591
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,2204,2204,2204,2204,2204,2204
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,1739,1739,1739,1739,1739,1739

In [27]:
school_summary_x=school_summary_x[["School Type","Total Students","Total Budget","Per Student Budget","Average Reading Score","Average Math Score","reading_score"]]
school_summary_x["reading_score"]=school_summary_x["reading_score"]/school_summary_x["Total Students"]
school_summary_x = school_summary_x.rename(columns ={'reading_score':'%Passing Reading'})
school_summary_x

C:\Users\gkchan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score,%Passing Reading
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.819333
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.808630
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.962529
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.958546
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.966111

In [28]:
pass_math_df = student_df.loc[(student_df["math_score"] >= 70.0)]
pass_math_df

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,25,Cesar Morris,M,9th,Huang High School,92,70
26,26,Melanie Decker,F,9th,Huang High School,63,85
29,29,Nicole Brown,F,12th,Huang High School,90,88
30,30,Bobby Harris,M,9th,Huang High School,94,99
32,32,Candace Phelps,F,11th,Huang High School,93,90
34,34,Steven Green,M,11th,Huang High School,65,74
36,36,Kevin Bailey,M,10th,Huang High School,76,76
38,38,Kimberly Mercado,F,12th,Huang High School,73,77
41,41,Jennifer Parks,F,11th,Huang High School,85,95
42,42,John Carlson,M,9th,Huang High School,65,89
43,43,Megan Roberts,F,9th,Huang High School,66,90
45,45,Heidi Jackson,F,11th,Huang High School,64,93
47,47,Ellen Brown,F,11th,Huang High School,77,81
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,39155,John Brooks,M,10th,Thomas High School,92,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [29]:
group_math_pass = pass_math_df.groupby('school')
count_math_read = group_math_pass.count()
count_math_read

,Student ID,name,gender,grade,reading_score,math_score
school,,,,,,
Bailey High School,3318,3318,3318,3318,3318,3318
Cabrera High School,1749,1749,1749,1749,1749,1749
Figueroa High School,1946,1946,1946,1946,1946,1946
Ford High School,1871,1871,1871,1871,1871,1871
Griffin High School,1371,1371,1371,1371,1371,1371
Hernandez High School,3094,3094,3094,3094,3094,3094
Holden High School,395,395,395,395,395,395
Huang High School,1916,1916,1916,1916,1916,1916
Johnson High School,3145,3145,3145,3145,3145,3145
Pena High School,910,910,910,910,910,910
Rodriguez High School,2654,2654,2654,2654,2654,2654
Shelton High School,1653,1653,1653,1653,1653,1653
Thomas High School,1525,1525,1525,1525,1525,1525
Wilson High School,2143,2143,2143,2143,2143,2143
Wright High School,1680,1680,1680,1680,1680,1680

In [30]:
school_summary_x = school_summary_x.merge(count_math_read, left_index=True, right_index=True)
school_summary_x

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score,%Passing Reading,Student ID,name,gender,grade,reading_score,math_score
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.819333,3318,3318,3318,3318,3318,3318
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398,1749,1749,1749,1749,1749,1749
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392,1946,1946,1946,1946,1946,1946
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990,1871,1871,1871,1871,1871,1871
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390,1371,1371,1371,1371,1371,1371
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.808630,3094,3094,3094,3094,3094,3094
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.962529,395,395,395,395,395,395
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164,1916,1916,1916,1916,1916,1916
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224,3145,3145,3145,3145,3145,3145
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459,910,910,910,910,910,910
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201,2654,2654,2654,2654,2654,2654
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.958546,1653,1653,1653,1653,1653,1653
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089,1525,1525,1525,1525,1525,1525
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396,2143,2143,2143,2143,2143,2143
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.966111,1680,1680,1680,1680,1680,1680

In [31]:
school_summary_x=school_summary_x[["School Type","Total Students","Total Budget","Per Student Budget","Average Reading Score","Average Math Score","%Passing Reading","math_score"]]
school_summary_x["math_score"]=school_summary_x["math_score"]/school_summary_x["Total Students"]
school_summary_x = school_summary_x.rename(columns ={'math_score':'%Passing Math'})
school_summary_x

C:\Users\gkchan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score,%Passing Reading,%Passing Math
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.819333,0.666801
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398,0.941335
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392,0.659885
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990,0.683096
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390,0.933924
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.808630,0.667530
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.962529,0.925059
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164,0.656839
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224,0.660576
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459,0.945946
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201,0.663666
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.958546,0.938671
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089,0.932722
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396,0.938677
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.966111,0.933333

In [32]:
#this is the final School Summary

school_summary_x["Overall Passing Rate"]= (school_summary_x["%Passing Reading"]+school_summary_x["%Passing Math"])/2
school_summary_x

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score,%Passing Reading,%Passing Math,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.819333,0.666801,0.743067
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398,0.941335,0.955867
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392,0.659885,0.733639
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990,0.683096,0.738043
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390,0.933924,0.952657
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.808630,0.667530,0.738080
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.962529,0.925059,0.943794
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164,0.656839,0.735002
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224,0.660576,0.736400
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459,0.945946,0.952703
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201,0.663666,0.732933
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.958546,0.938671,0.948609
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089,0.932722,0.952905
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396,0.938677,0.952037
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.966111,0.933333,0.949722

In [33]:
#Top Performing Schools (By Passing Rate)

school_summary_max = school_summary_x.sort_values('Overall Passing Rate', ascending=False)
school_summary_max.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score,%Passing Reading,%Passing Math,Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398,0.941335,0.955867
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089,0.932722,0.952905
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459,0.945946,0.952703
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390,0.933924,0.952657
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396,0.938677,0.952037

In [34]:
#Bottom Performing Schools (By Passing Rate)

school_summary_min = school_summary_x.sort_values('Overall Passing Rate', ascending=True)
school_summary_min.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score,%Passing Reading,%Passing Math,Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201,0.663666,0.732933
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392,0.659885,0.733639
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164,0.656839,0.735002
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224,0.660576,0.736400
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990,0.683096,0.738043

In [35]:
#Math Scores by Grade

score_by_grade = student_df.groupby(['school','grade'])
score_by_grade = score_by_grade.mean()
score_by_grade

                               Student ID  reading_score  math_score
school                grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

In [36]:
#Math Scores by Grade (Final)

math_by_grade = score_by_grade["math_score"]
math_by_grade_df = math_by_grade.to_frame()
math_by_grade_df

                             math_score
school                grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [38]:
#Reading Scores by Grade

read_by_grade = score_by_grade["reading_score"]
read_by_grade_df = read_by_grade.to_frame()
read_by_grade_df

                             reading_score
school                grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

In [40]:
#Scores by School Spending per Student
#create bins

bins=[0,585,615,645,675]
group_names = ['<$585','$585-$615',"$615 to $645","$645 to $675"]

school_summary_x["Spending Level"] = pd.cut(school_summary_x["Per Student Budget"], bins, labels = group_names)
school_summary_x

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score,%Passing Reading,%Passing Math,Overall Passing Rate,Spending Level
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.819333,0.666801,0.743067,$615 to $645
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398,0.941335,0.955867,<$585
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392,0.659885,0.733639,$615 to $645
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990,0.683096,0.738043,$615 to $645
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390,0.933924,0.952657,$615 to $645
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.808630,0.667530,0.738080,$645 to $675
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.962529,0.925059,0.943794,<$585
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164,0.656839,0.735002,$645 to $675
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224,0.660576,0.736400,$645 to $675
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459,0.945946,0.952703,$585-$615
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201,0.663666,0.732933,$615 to $645
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.958546,0.938671,0.948609,$585-$615
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089,0.932722,0.952905,$615 to $645
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396,0.938677,0.952037,<$585
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.966111,0.933333,0.949722,<$585

In [41]:
score_by_spending = school_summary_x.groupby(['Spending Level'])
score_by_spending = score_by_spending.mean()
score_by_spending =score_by_spending[['Average Reading Score','Average Math Score','%Passing Math','%Passing Reading','Overall Passing Rate']]
score_by_spending

,Average Reading Score,Average Math Score,%Passing Math,%Passing Reading,Overall Passing Rate
Spending Level,,,,,
<$585,83.933814,83.455399,0.934601,0.966109,0.950355
$585-$615,83.885211,83.599686,0.942309,0.959003,0.950656
$615 to $645,81.891436,79.079225,0.756682,0.861066,0.808874
$645 to $675,81.027843,76.997210,0.661648,0.811340,0.736494

In [42]:
#Scores by School Size
#create bins (sall, meadium, large)

bin_size = [0,1000,2000,5000]
label_size = ["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]


school_summary_x["Size Group"] = pd.cut(school_summary_x["Total Students"], bin_size, label_size)
school_summary_x

,School Type,Total Students,Total Budget,Per Student Budget,Average Reading Score,Average Math Score,%Passing Reading,%Passing Math,Overall Passing Rate,Spending Level,Size Group
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.819333,0.666801,0.743067,$615 to $645,"(2000, 5000]"
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398,0.941335,0.955867,<$585,"(1000, 2000]"
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392,0.659885,0.733639,$615 to $645,"(2000, 5000]"
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990,0.683096,0.738043,$615 to $645,"(2000, 5000]"
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390,0.933924,0.952657,$615 to $645,"(1000, 2000]"
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.808630,0.667530,0.738080,$645 to $675,"(2000, 5000]"
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.962529,0.925059,0.943794,<$585,"(0, 1000]"
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164,0.656839,0.735002,$645 to $675,"(2000, 5000]"
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224,0.660576,0.736400,$645 to $675,"(2000, 5000]"
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459,0.945946,0.952703,$585-$615,"(0, 1000]"
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201,0.663666,0.732933,$615 to $645,"(2000, 5000]"
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.958546,0.938671,0.948609,$585-$615,"(1000, 2000]"
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089,0.932722,0.952905,$615 to $645,"(1000, 2000]"
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396,0.938677,0.952037,<$585,"(2000, 5000]"
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.966111,0.933333,0.949722,<$585,"(1000, 2000]"

In [43]:
score_by_size = school_summary_x.groupby(['Size Group'])
score_by_size = score_by_size.mean()
score_by_size =score_by_size[['Average Math Score','Average Reading Score','%Passing Math','%Passing Reading','Overall Passing Rate']]
score_by_size

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing Rate
Size Group,,,,,
"(0, 1000]",83.821598,83.929843,0.935502,0.960994,0.948248
"(1000, 2000]",83.374684,83.864438,0.935997,0.967907,0.951952
"(2000, 5000]",77.746417,81.344493,0.699634,0.827666,0.763650

In [44]:
score_by_type = school_summary_x.groupby(['School Type'])
score_by_type = score_by_type.mean()
score_by_type =score_by_type[['Average Math Score','Average Reading Score','%Passing Math','%Passing Reading','Overall Passing Rate']]
score_by_type

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.951037
District,76.956733,80.966636,0.665485,0.807991,0.736738