In [1]:
import pandas as pd
import numpy as np

In [2]:
schoolfile = ("Resources/schools_complete.csv")
studentfile = ("Resources/students_complete.csv")

In [3]:
school_df = pd.read_csv(schoolfile)
school_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
student_df = pd.read_csv(studentfile)
student_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [9]:
#District Summary

Total_schools =school_df['name'].count()
Total_schools

15

In [10]:
Total_students = student_df['name'].count()
Total_students

39170

In [12]:
Total_budget = school_df['budget'].sum()
Total_budget

24649428

In [13]:
avg_math = student_df['math_score'].mean()
avg_math

78.98537145774827

In [14]:
avg_read = student_df['reading_score'].mean()
avg_read

81.87784018381414

In [45]:
# % Passing Math, Assume 70 is passing

passmath= student_df['math_score']>=70
pass_math_count = passmath.value_counts(True)
pass_math_count[True]

0.749808526933878

In [46]:
# % Passing Reading, Assume 70 is passing

passread=student_df['reading_score']>=70
pass_read_count = passread.value_counts(True)
pass_read_count[True]

0.8580546336482001

In [47]:
overall_pass = (pass_math_count+pass_read_count)/2
overall_pass[True]

0.8039315802910391

In [66]:
#District Summary 

column_name =["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading School","% Passing Math","% Passing Reading","%Overall Passing Rate"]
columns = [Total_schools,Total_students,Total_budget,avg_math,avg_read,pass_math_count[True],pass_read_count[True],overall_pass[True]]

district = pd.DataFrame(columns,column_name).T
district

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading School,% Passing Math,% Passing Reading,%Overall Passing Rate
0,15.0,39170.0,24649428.0,78.985371,81.87784,0.749809,0.858055,0.803932